<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    DevExpress FrontEnd
  </h1>
  <div>
    <a routerLink="/" class="link">Home</a>
    <a routerLink="dashboard-designer" class="link">Dashboard Designer</a>
    <a routerLink="dashboard-viewer"  class="link">Dashboard Viewer</a>
    <a routerLink="report-designer"  class="link">Report Designer</a>
    <a routerLink="report-viewer"  class="link">Report Viewer</a>
    <a routerLink="pivot-grid" class="link">Pivot Grid</a>
  </div>
</div>
<router-outlet></router-outlet>
